services:
  tirociniosmart-db:
    container_name: tirociniosmart-db-service
    image: mysql:8.0
    secrets:
      - mysql_password
    volumes:
      - tirociniosmart_db_data:/var/lib/mysql
    command: --lower_case_table_names=1
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 10s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_password
      MYSQL_DATABASE: tirociniosmart
      MYSQL_USER: tirociniosmart_db_user
      MYSQL_PASSWORD_FILE: /run/secrets/mysql_password
    ports:
      - "3308:3306"

  app:
    container_name: tirociniosmart-app
    build: .
    secrets:
      - mysql_password
      - jwt_secret_key
    volumes:
      - ./app:/tirociniosmart/app
      - ./tirociniosmart:/tirociniosmart/tirociniosmart
      - ./security:/tirociniosmart/security
      - ./templates:/tirociniosmart/templates
    depends_on:
      tirociniosmart-db:
        condition: service_healthy
    environment:
      DB_ENGINE: django.db.backends.mysql
      DB_USER: tirociniosmart_db_user
      DB_HOST: tirociniosmart-db-service
      DB_PORT: 3306
      DB_NAME: tirociniosmart
      DB_PASSWORD_FILE: /run/secrets/mysql_password
      JWT_SECRET_KEY_FILE: /run/secrets/jwt_secret_key
      JWT_ALGORITHM: HS256
      JWT_EXPIRATION_TIME: 86400
      JWT_ISSUER: tirociniosmart
    ports:
      - "8001:8000"

secrets:
    mysql_password:
      file: ./secrets/mysql_password.txt
    jwt_secret_key:
      file: ./secrets/jwt_secret_key.txt

volumes:
    tirociniosmart_db_data:
        driver: local
        driver_opts:
          type: none
          device: ./var/lib/mysql/
          o: bind